/JavaHomeWork/nbproject/private/
/JavaHomeWork/build/
/ComputerScienceAssignmentTerm2PreIB/nbproject/private/
/ComputerScienceAssignmentTerm2PreIB/build/
/ComputerScienceAssignmentTerm2PreIB/dist/
/ComputerScienceTerm2Assignment/nbproject/private/
/ComputerScienceTerm2Assignment/build/
/ComputerScienceTerm2Assignment/dist/
/Term2Assignment/Term2Assignment/nbproject/private/
/Term2Assignment/nbproject/private/
/Term2Assignment/build/
/Term2Assignment/dist/